<% provide(:title, '') %>
<% provide(:description, 'トップページ') %>
<% provide(:keywords, '') %>
<% provide(:layout_style, 'full') %>

<% if logged_in? %>
<div>
  <%= link_to('スタジオ', studio_path, data: { turbo: false }) %>
  <%= link_to('admin', admin_root_path, data: { turbo: false }) if admin? %>
</div>
<% end %>
<h1>記事一覧</h1>
<h2>おすすめの記事</h2>
<div>
  <% recommended_posts(5).each do |post| %>
    <%= render 'posts/show', post: post %>
  <% end %>
</div>
<h2>新着の記事</h2>
<div>
  <% new_posts(5).each do |post| %>
    <%= render 'posts/show', post: post %>
  <% end %>
</div>