<% keywords = '利用規約' %>
<% authors = 'kisana.' %>
<% provide(:title, '利用規約') %>
<% provide(:author, authors) %>
<% provide(:description, 'BLOG14利用規約') %>
<% provide(:keywords, keywords) %>
<% provide(:robots, 'index, follow') %>
<% provide(:url, full_url("/")) %>
<% provide(:type, 'website') # website or article %>
<% provide(:image, full_url("/")) %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, 'alt') %>
<% provide(:id, 'kisana_me') %>
<% provide(:layout_style, '') %>
<% provide(:ga4, 'true') %>

<h1>利用規約</h1>
<p>当サイトを利用するすべての利用者は、利用規約・ポリシー・免責事項に同意する必要があります。利用者が当サイトを利用することで、利用規約に同意したものとみなされます。</p>
<p>利用者は、当サイトを適切かつ合法的に利用する責任があります。違法な行為や他者の権利を侵害する行為は禁止されています。</p>
<p>利用者は、自身の行動に関連するすべての責任を負います。当サイトの管理者は、利用者の行動に対して一切の責任を負いません。</p>
<h2>制定日・最終改定日</h2>
<ul>
  <li>制定日:2024年2月29日</li>
  <li>最終改定日:未改定</li>
</ul>