.account-path {
  color: inherit;
  text-decoration: none;
  margin: 5px;
  display: block;
}
.account-top {
  display: flex;
}
.account-icon-container {
  width: 50px;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  background: rebeccapurple;
  flex-shrink: 0;
}
.account-icon {
  width: 50px;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  display: block;
}
.account-name {
  height: 50px;
  padding: 0 7px;
  line-height: 50px;
  font-size: 26px;
  flex-shrink: 0;
}
.account-description {
  max-height: 50px;
  line-height: 25px;
  overflow: hidden;
}