.comment-form {
  padding: 7px;
  border: 1px solid;
  border-radius: 5px;
}
.comment {
  padding: 7px;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 5px;
}
.comment-info {
  font-size: 14px;
  line-height: 14px;
}