footer {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  background: linear-gradient(195deg, rgba(188,236,255,1) 0%, rgba(194,187,255,1) 83%);
}
.footer-app-name {
  height: 80px;
  padding: 10px;
  display: inline-block;
}
.footer-app-name a {
  color: inherit;
  text-decoration: none;
}
.footer-links {
  height: 80px;
  padding: 10px;
  display: inline-block;
}
.footer-actions {
  height: 80px;
  padding: 10px;
  display: inline-block;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  list-style-type: none;
}