<% provide(:title, '筆者一覧') %>
<% provide(:robots, 'false') %>
<% provide(:description, '筆者一覧') %>
<% provide(:keywords, '筆者一覧') %>
<% provide(:layout_style, 'full') %>

<h1>筆者一覧</h1>
<% @accounts.each do |account| %>
  <%= link_to account_path(account.name_id), class: 'account-path', data: {turbo_prefetch: false} do %>
    <div class="account-top">
      <div class="account-icon-container">
        <%= image_tag(account.icon_url, class: 'account-icon', alt: "#{account.name}のアイコン") %>
      </div>
      <div class="account-name">
        <%= account.name %>
      </div>
      <div class="account-description">
        <%= strip_tags account.description_cache %>
      </div>
    </div>
  <% end %>
<% end %>
