<% provide(:title, '筆者一覧') %>
<% provide(:author, '') %>
<% provide(:description, '筆者一覧') %>
<% provide(:keywords, '筆者一覧') %>
<% provide(:robots, 'index, follow') %>
<% provide(:url, full_url("/")) %>
<% provide(:type, 'website') # website or article %>
<% provide(:image, "/") %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, '') %>
<% provide(:id, '') %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'true') %>

<h1>筆者一覧</h1>
<% @accounts.each do |account| %>
  <%= link_to account_path(account.aid), class: 'account-path' do %>
    <div class="account-top">
      <div class="account-icon-container">
        <%= image_tag(account.icon_url, class: 'account-icon') %>
      </div>
      <div class="account-name">
        <%= account.name %>
      </div>
      <div class="account-description">
        <%= account.description %>
      </div>
    </div>
  <% end %>
<% end %>