<% provide(:title, '筆者一覧') %>
<% provide(:description, '筆者一覧') %>
<% provide(:keywords, '筆者一覧') %>
<% provide(:layout_style, 'full') %>

<h1>筆者一覧</h1>
<% @accounts.each do |account| %>
  <%= link_to account_path(account.aid), class: 'account-path' do %>
    <div class="account-top">
      <div class="account-icon-container">
        <%= image_tag(account.icon_url, class: 'account-icon') %>
      </div>
      <div class="account-name">
        <%= account.name %>
      </div>
      <div class="account-description">
        <%= account.description %>
      </div>
    </div>
  <% end %>
<% end %>