<div class="show-tag">
  <div class="show-tag-container">
    <h2><%= tag.name %></h2>
    <div class="show-tag-id">ID:<%= link_to(tag.aid, tag_path(tag.aid)) %></div>
    <div class="show-tag-description">紹介文:<%= tag.description %></div>
  </div>
</div>