<div class="show-tag">
  <%= link_to(tag_path(tag.tag_name_id)) do %>
  <div class="show-tag-container">
    <h2><%= tag.name %></h2>
    <div class="show-tag-id"><%= tag.tag_name_id %></div>
    <div class="show-tag-description"><%= tag.description %></div>
  </div>
  <% end %>
</div>