<% provide(:title, 'タグ一覧') %>
<% provide(:description, 'タグ一覧') %>
<% provide(:keywords, 'タグ一覧') %>
<% provide(:layout_style, 'full') %>

<h1>タグ一覧</h1>
<% @tags.each do |tag| %>
  <%= link_to tag_path(tag.aid), class: 'tag-path', data: {turbo_prefetch: false} do %>
    <div class="tag-top">
      <div class="tag-name">
        <%= tag.name %>
      </div>
      <div class="tag-description">
        <%= tag.description %>
      </div>
    </div>
  <% end %>
<% end %>