<% keywords = @tag.name %>
<% authors = '' %>
<% provide(:title, @tag.name) %>
<% provide(:author, authors) %>
<% provide(:description, @tag.description) %>
<% provide(:keywords, keywords) %>
<% provide(:robots, 'index, follow') %>
<% provide(:url, full_url("/tags/#{@tag.aid}")) %>
<% provide(:type, 'website') # website or article %>
<% provide(:image, "/") %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, '') %>
<% provide(:id, '') %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'true') %>

<h1>タグ紹介</h1>
<div class="tag-name">
  <%= @tag.name %>
</div>
<div class="tag-info">
  ID:<%= @tag.aid %>
  <br />
  紹介文:<%= @tag.description %>
</div>
<h2>最新の投稿</h2>
<% tags_posts(@tag, 10).each do |post| %>
  <%= render 'posts/show', post: post %>
<% end %>