<% provide(:title, '') %>
<% provide(:description, 'トップページ') %>
<% provide(:keywords, '') %>
<% provide(:layout_style, 'full') %>

<% if logged_in? %>
<div>
  <%= link_to('スタジオ', studio_path, data: { turbo: false }) %>
  <%= link_to('admin', admin_root_path, data: { turbo: false }) if admin? %>
</div>
<% end %>

<h1>WELCOME IVECOLOR</h1>
<p>ようこそ！IVECOLORへ！</p>
<p>当サイトでは主に以下に示す分野のコンテンツを扱います。</p>
<ul>
  <li>TWICEやIVEなどK-POP関連</li>
  <li>スマホやPC、周辺機器の紹介</li>
  <li>WEBプログラミング</li>
  <li>Minecraftやその他ゲーム</li>
  <li>映画・ドラマ・読書・アニメ</li>
  <li>勉強・資格</li>
  <li>クレカ・銀行・証券・ポイ活</li>
</ul>

<h2>自己紹介</h2>
<p>こんにちは、「きさな」と言います。</p>
<p>上記のコンテンツ等を趣味とするただの学生です。</p>
<p>いろいろな体験記としてここに記録をのこしていくつもりです。</p>

<h2>扱うコンテンツについて具体的に</h2>
<p>上記に示した各分野についてもう少し詳しくお話しします。</p>
<h3>TWICEやIVEなどK-POP関連</h3>
<p>K-POPの音楽が好きでよくライブに参戦するのでその際の様子やセトリ等を記録します。</p>
<p>また、アルバムやグッズなどの商品紹介もしていきます。</p>
<h3>スマホやPC、周辺機器の紹介</h3>
<p>スマホはGalaxy、PCは自作かラップトップならLG gramが好きで愛用しています。</p>
<p>使っているスマホとPCの魅力を紹介していきます。</p>
<h3>WEBプログラミング</h3>
<p>Ruby on RailsやNext.jsをよく使用します。</p>
<p>これらを使って作成したものや使い方をのこします。</p>
<h3>Minecraftやその他ゲーム</h3>
<p>マイクラは自由度が高く遊んでいて楽しいゲームだと思います。</p>
<p>サーバーを運営してマルチプレイをしているのでその方法やマップの様子を紹介します。</p>
<h3>映画・ドラマ・読書・アニメ</h3>
<p>各種サブスクを長期間続けています。</p>
<p>特にネトフリで韓ドラをよく見ています。面白い作品があれば紹介します。</p>
<h3>勉強・資格</h3>
<p>情報系の勉強をしていて、資格をたくさん取りたいと思っています。</p>
<p>ITパスポートの次は応用情報技術者試験！</p>
<h3>クレカ・銀行・証券・ポイ活</h3>
<p>カードが好きでたくさん発行しました。</p>
<p>入会特典やキャンペーン、NISAなどのお得情報を発信していきたいです。</p>

<h2>よろしくお願いします</h2>
<p>閲覧いただきありがとうございます。コンテンツを拡充していきますので支援いただけると幸いです。</p>
<p>各投稿にコメントを付けられますので意見を述べていただけると大変参考になりありがたいです。</p>
<p>何かありましたら、遠慮なくお問い合わせください。</p>
