<% provide(:title, "") %>

<% if @current_account %>
  <div>
    <%= link_to("Studio", studio_path, data: { turbo: false }) %>
    <%= link_to("Admin", admin_root_path, data: { turbo: false }) if admin? %>
  </div>
<% end %>

<% if @post %>

  <%= raw @post.content_cache %>

<% else %>

  <h1>WELCOME TO BLOG14</h1>
  <p>kisanaによるブログシステムです。</p>
  <p>特定用途でIDが"index"の投稿を作成し、トップページをカスタマイズできます。</p>

<% end %>
