<% provide(:title, 'Not Found - 404') %>
<% provide(:description, 'お探しのページは存在しません。') %>
<% provide(:keywords, '探しのページは存在しません。') %>
<% provide(:robots, 'false') %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'false') %>

<h1>Not Found - 404</h1>
<p>お探しのページは存在しません。</p>
<a href="/">トップへ</a>