<% provide(:title, 'Not Found - 404') %>
<% provide(:author, '') %>
<% provide(:description, 'お探しのページは存在しません。') %>
<% provide(:keywords, '') %>
<% provide(:robots, 'noindex, nofollow') %>
<% provide(:url, '') %>
<% provide(:type, 'website') # website or article %>
<% provide(:image, "/") %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, '') %>
<% provide(:id, '') %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'true') %>

<h1>Not Found - 404</h1>
<p>お探しのページは存在しません。</p>
<a href="/">トップへ</a>