<% provide(:title, 'Internal Server Error - 500') %>
<% provide(:author, '') %>
<% provide(:description, 'ページを表示できませんでした。') %>
<% provide(:keywords, '') %>
<% provide(:robots, 'noindex, nofollow') %>
<% provide(:url, '/') %>
<% provide(:type, 'website') # website or article %>
<% provide(:image, "/") %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, '') %>
<% provide(:id, '') %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'true') %>

<h1>Internal Server Error - 500</h1>
<p>ページを表示できませんでした。</p>
<a href="/">トップへ</a>