<% provide(:title, 'Internal Server Error - 500') %>
<% provide(:description, 'ページを表示できませんでした。') %>
<% provide(:keywords, 'ページを表示できませんでした。') %>
<% provide(:robots, 'false') %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'false') %>

<h1>Internal Server Error - 500</h1>
<p>ページを表示できませんでした。</p>
<a href="/">トップへ</a>