<h1>Post 一覧</h1>
<% @posts.each do |post| %>
<div>
  <%= link_to(post_path(post.post_name_id)) do %>
    <div>画像</div>
    <h2><%= post.title %></h2>
    <div><%= post.summary %></div>
  <% end %>
</div>
<hr />
<% end %>