<% keywords = '記事一覧' %>
<% authors = '' %>
<% provide(:title, '記事一覧') %>
<% provide(:author, authors) %>
<% provide(:description, '記事一覧') %>
<% provide(:keywords, keywords) %>
<% provide(:robots, 'index, follow') %>
<% provide(:url, full_url("/posts/")) %>
<% provide(:type, 'website') # website or article %>
<% provide(:image, "/") %>
<% provide(:card, 'summary') # summary,summary_large_image, app, player %>
<% provide(:alt, '') %>
<% provide(:id, '') %>
<% provide(:layout_style, 'full') %>
<% provide(:ga4, 'true') %>

<h1>記事一覧</h1>
<% @posts.each do |post| %>
  <%= render 'posts/show', post: post %>
<% end %>
<%= render 'shared/paging', pages: @total, page: params[:page], path: posts_path %>