<% provide(:title, 'Studio') %>
<% provide(:robots, 'false') %>
<% provide(:layout_style, '') %>
<% provide(:ga4, 'false') %>

<h1>サインイン/サインアップ</h1>
<%= button_to "ANYURで続行", oauth_start_path, method: :post, data: { turbo: false } %>
